String Datatype in Python
--> str represents string datatype
--> A string is a sequence of characters enclosed within single quotes or double quotes.

In [2]:
s="Kiran"
print(type(s))

<class 'str'>

In [3]:
s='Kiran'
print(type(s))

<class 'str'>

--> By using single quotes('') or double quotes("") we cannot represent multiline string literals.

In [4]:
s="Computer 
    Science"
print(s)

SyntaxError: unterminated string literal (detected at line 1) (2583434545.py, line 1)

--> For this requirement we should go for triple quotes(''') or triple double quotes(""")

In [5]:
s= """Computer 
    Science"""
print(s)

s1='''SK
    BU'''
print(s1)

Computer
    Science
SK
    BU

### Slicing of Strings

--> Slice means a piece
--> [] operator is called sclice operator, which can be used to retrive parts of string.
--> In python strings follows zero based index.
--> The index can be either positive or negative
--> positive  index means forward direction from left to  right
--> Negative means backward direction from right to left

In [9]:
s="Computer"

In [10]:
s

'Computer'

In [11]:
s[0]

'C'

In [12]:
s[-1]

'r'

In [14]:
s[40]

IndexError: string index out of range

In [15]:
s[1:100]

'omputer'

In [16]:
s[:]

'Computer'

In [17]:
s[:5]

'Compu'

In [18]:
s[1:]

'omputer'

In [19]:
s[-100]

IndexError: string index out of range

In [20]:
s[0:-1]

'Compute'

In [21]:
s[-1:-4]

''

In [22]:
s[-4:-1]

'ute'

In [23]:

s*3

'ComputerComputerComputer'

s[begin:end:step]

In [24]:
s[0:6:2]

'Cmu'

Print your name 10 name

In [25]:
print("Kiran\n"*10)

Kiran
Kiran
Kiran
Kiran
Kiran
Kiran
Kiran
Kiran
Kiran
Kiran

### Typecasting in Python

--> we can convert one type value to another type.This convertion is called Typecasting or Type Coersion

--> The following are various inbulit functions for type casting.
    1. int()
    2. float()
    3. complex()
    4. bool()
    5. str()

## 1. int() :- 
            we can use this function to convert values from other types to int.

In [26]:
int(123.456)

123

In [27]:
int(10+20j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [28]:
int(True)

1

In [29]:
int(False)

0

In [30]:
int("10")

10

In [31]:
int("10.5")

ValueError: invalid literal for int() with base 10: '10.5'

In [32]:
int("0B1111")

ValueError: invalid literal for int() with base 10: '0B1111'

In [33]:
int("Ten")

ValueError: invalid literal for int() with base 10: 'Ten'

*** Note:  
        1. we can convert from any type to int except complex type.
        2. if we want to convert str type to int type, compulsory str should contain only integral value and should 
            be specified in base-10

## 2. float() :- 
            we can use float() function to convert other type values to float type.

In [34]:
float(10)

10.0

In [35]:
float(10+20j)

TypeError: float() argument must be a string or a real number, not 'complex'

In [36]:
float(True)

1.0

In [37]:
float(False)

0.0

In [38]:
float("10")

10.0

In [39]:
float("10.5")

10.5

In [40]:
float("Ten")

ValueError: could not convert string to float: 'Ten'

In [41]:
float("0B111")

ValueError: could not convert string to float: '0B111'

In [42]:
float(0b111)

7.0

** Note : -
        1. we can convert any type value to float type except complex type.
        2. whenever we are trying to convert str type to float type compulsory str should be either 
            integral or floating point literal and should be specified only base 10.

## 3. complex() :- 
            we can use complex() function to convert other type values to complex type.

form 1 : complex(x) ---> x+0j
form 2 : complex(x,y) ---> x+yj

form 1: complex(x)
    we can use this function to convert x into complex number with real part and imaginary part 0.

In [43]:
complex(10)

(10+0j)

In [44]:
complex(10.5)

(10.5+0j)

In [45]:
complex(True)

(1+0j)

In [46]:
complex(False)

0j

In [48]:
complex("10")

(10+0j)

In [49]:
complex("10.5")

(10.5+0j)

In [50]:
complex("ten")

ValueError: complex() arg is a malformed string

In [51]:
complex("0b111")

ValueError: complex() arg is a malformed string

In [52]:
complex(0b1111)

(15+0j)

form 2 : complex(x,y)
        we can use this method to convert x and y into complex number such that x will be real part and 
        y will be imaginary part.

In [53]:
complex(10,20)

(10+20j)

In [54]:
complex(True,False)

(1+0j)

In [55]:
complex(10,20.5)

(10+20.5j)

In [57]:
complex('10','12')

# complex() can't take second argumet if first is a string

TypeError: complex() can't take second arg if first is a string

## 4. bool() :- 
         to convert other types to bool type.

for int argumennt

In [58]:
bool(0)

False

In [60]:
bool(1)

True

In [61]:
bool(10)

True

In [62]:
bool(-1)

True

In [63]:
# for float argument
bool(0.0)

False

In [64]:
bool(0.00000000000001)

True

In [65]:
bool(0.1)

True

In [66]:
bool(0.123)

True

In [67]:
# for complex argument

In [68]:
bool(10+20j)

True

In [69]:
bool(10-2j)

True

In [70]:
bool(0+1.5j)

True

In [72]:
bool(0+0j)
# if both real and imaginary parts are zero. i.e. (0+0j) then the result is False otherwise the result is True.

False

In [73]:
# for str argument

In [74]:
bool("True")

True

In [75]:
bool("False")

True

In [76]:
bool("Kiran")

True

In [77]:
bool(' ')

True

In [78]:
bool('')

False

## 5. str() :- 
         we can use this method to convert other types values to str type.

In [79]:
str(10)

'10'

In [80]:
str(10.5)

'10.5'

In [81]:
str(10+20j)

'(10+20j)'

In [82]:
str(True)

'True'